# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Bagaskoro Meyca Dwiyananda Putra
email = bagas_mdp@yahoo.co.id
	name = =
	name = DRD Admin
	name = =
	email = =
	email = admin@drdaccess.com
[credential]
	username = drd-admin
	username = bagas
	username = bagasdrd
